<% provide(:title, "About") %>
<ul id="primary-content">
 <h1 class="mains">SPROUT SOLUTIONS</h1>
 
</ul>

<div class="row" data-equalizer="foo">
  <div class="medium-4 columns">
    <div class="panel" data-equalizer-watch="foo">
      <%= image_tag("holder1.gif") %>
    </div>
   </div>
  <div class="medium-4 columns">
    <div class="panel" data-equalizer-watch="foo">
      <%= image_tag("holder2.gif") %>
    </div>
  </div>
  <div class="medium-4 columns">
    <div class="panel" data-equalizer-watch="foo">
     <%= image_tag("holder3.gif") %>
    </div>
  </div>
</div>

