<% provide(:title, "About") %>
<ul id="primary-content">
 <h1 class="mains">SPROUT SOLUTIONS</h1>

<p class="we"> We've got the JUICE<p>

<a href="#" class="button round"> Take A Taste </a> 

 
</ul>



