<% provide(:title, "About") %>
<ul id="primary-content">
 <h1 class="mains">SPROUT SOLUTIONS</h1>

<div class="row">
  <div class="small-4 columns">
    
    <div class="service">
      <div class="service-icon-box">
        <img src="/assets/Idea.png" alt="A modern lightbulb icon" class="service-icon">
      </div>
      <h4 class="service-heading">Interstellar Travel</h4>
      <p class="service-description">It has been a very busy few months for the Project Voyager team. But the fruits of labor are finally starting to pay off. We have officially succeed at creating orbital insertions within an accuracy of 1km.</p>
    </div>
    
  </div>
  
   <div class="small-4 columns">
	<div class="service">
      <div class="service-icon-box">
        <img src="https://upload.wikimedia.org/wikipedia/en/thumb/5/5a/SpaceX_CRS-3.png/360px-SpaceX_CRS-3.png" alt="" class="service-icon">
      </div>
      <h4 class="service-heading">Interstellar Travel</h4>
      <p class="service-description">It has been a very busy few months for the Project Voyager team. But the fruits of labor are finally starting to pay off. We have officially succeed at creating orbital insertions within an accuracy of 1km.</p>
    </div> 
   </div>
   
   <div class="small-4 columns">
    
    <div class="service">
      <div class="service-icon-box">
        <img src="https://upload.wikimedia.org/wikipedia/en/thumb/5/5a/SpaceX_CRS-3.png/360px-SpaceX_CRS-3.png" alt="" class="service-icon">
      </div>
      <h4 class="service-heading">Interstellar Travel</h4>
      <p class="service-description">It has been a very busy few months for the Project Voyager team. But the fruits of labor are finally starting to pay off. We have officially succeed at creating orbital insertions within an accuracy of 1km.</p>
    </div>
    
  </div>
  
  
</div>

 
</ul>



