<% provide(:title, "Contact") %>
	<ul id="primary-content">
    <h1>How to get in touch with us:</h1>
	<p>Feel free to leave us a comment on our <a href="https://www.facebook.com/sproutsolutionsus">Facebook page</a>!</p>
	</ul>
