<% provide(:title, "Projects") %>
<ul id="primary-content">
  <h1>Curious what we're developing?</h1>
	<p>You can check out our <a href="https://github.com/sproutsolutions?tab=repositories">Github page</a>.</p>
</ul>
