<% provide(:title, "Projects") %>
<ul id="primary-content">
<div class="row">
  <div class="small-10 medium-4 large-4 columns">
    <div class="image-wrapper overlay-fade-in">
      
      <img src="/assets/WCLpromo.JPG" />
      
      <div class="image-overlay-content">
        <h2>Design and Code</h2>
        <p class="price">Small Business</p>
        <a href="#" class="button">Get it</a>
      </div>
    
    </div>
   </div>
   
  <div class="small-10 medium-4 large-4 columns">

    <div class="image-wrapper overlay-fade-in">
      
      <img src="/assets/Metroedge.JPG" />
      
      <div class="image-overlay-content">
        <h2>Design Only</h2>
        <p class="price">UX/UI</p>
        <a href="#" class="button">Buy Me</a>
      </div>
    
    </div>
  
  </div> 
  <div class="small-10 medium-4 large-4 columns">

    <div class="image-wrapper overlay-fade-in">
      
      <img src="/assets/CFA.JPG" />
      
      <div class="image-overlay-content">
        <h2>.overlay-fade-in-new-background</h2>
        <p class="price">$189,000</p>
        <a href="#" class="button">Want!</a>
      </div>
    
    </div>
  
  </div>
    
</div>

</ul>
